@charset "UTF-8";

/* ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
   •• Phonegap Demo application                                      ••
   ••  Updated: {{04-10-2011}}                                       ••
   ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••   
   
   0. RESET
   1. GLOBAL

----------------------------------------------------------------------- */

/* 0. RESET
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

@import url("reset.css");

/* 1. GLOBAL
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

body {
  font: bold 14px/18px "HelveticaNeue",Helvetica,Arial,sans-serif;
  color: #000;	
}

/* . CONTENT
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


.main-content h1 {
	text-align: center;
}

.main-content h2 {
	color: #00aeef;
	font-size: 24px;
	font-weight:normal;
	text-shadow: none;
}

/* . INDEX PAGE
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */


.icons-div {
	width: 80%;
	margin: 20px auto;
}

.main-content p {
	margin-top: 10px;
	color: #000;
	font-size: 17px;
	line-height: 20px;
	font-weight:normal;
	text-shadow: none;
}

.icon-button {
	height: 100px;
	width: 100px;
	float: left;
	margin: 10px 12px;
	display: inline-block;
}

.icon-button.icon1 {
	background: url("i/icon1.png") no-repeat 0 0 transparent;
}

.icon-button.icon2 {
	background: url("i/icon2.png") no-repeat 0 0 transparent;
}

.icon-button.icon3 {
	background: url("i/icon3.png") no-repeat 0 0 transparent;
}

.icon-button.icon4 {
	background: url("i/icon4.png") no-repeat 0 0 transparent;
}

/* . NOTES PAGE
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.notes {
	background: url("i/list-bg.png") repeat-x 0 0 transparent;
	height: 48px;
	position: relative;
}

.notes a {
	display: block;
	padding: 10px 45px;
	font-size: 20px;
	color: #a0a1b2;
	text-shadow: 0px -1px 1px #000;
	height: 15px;
	word-wrap: break-word;
	overflow: hidden;
	line-height: 28px;
}


.notes .right-arrow {
	background: url("i/arrow-right.png") no-repeat 0 0 transparent;
	height: 24px;
	width: 24px;	
	position: absolute;
	right: 15px;
	top: 12px;
}

label {
	width: 100%;
	display: block;
}

.id-number {
	display: none;
}


/* . Button Icons
••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */

.add-new,
.delete-note,
.edit-note {
	height: 31px;
	width: 33px;
}

.add-new,
.delete-note,
.edit-note,
.back-button,
.right-button {
	border: medium none!important;
    -webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
    -webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.add-new {
	background: url("i/new.png") no-repeat 0 0 transparent;
}

.delete-note {
	background: url("i/delete.png") no-repeat 0 0 transparent;
}

.edit-note {
	background: url("i/edit.png") no-repeat 0 0 transparent;
	display: inline-block;
	position: absolute;
	top: 6px;
	right: 52px;
}

.back-button {
	background: url("i/back.png") no-repeat 0 0 transparent;
	height: 31px;
	width: 58px;
}

.back-button span {
	left: 1px;
    position: relative;
    top: 2px;
}

.right-button {
	background: url("i/right-button.png") no-repeat 0 0 transparent;
	height: 29px;
	width: 61px;
}	

.add-new span,
.back-button span,
.right-button span,
.delete-note span,
.edit-note span {
	border: medium none!important;
    -webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
    -webkit-box-shadow: none !important;
	box-shadow: none !important;
	padding: 0 !important;
}


.right-button span {
	position: relative;
	top: 2px;
}

input.ui-input-text,
.note-details {   
    border: 1px solid #333239;
    box-shadow: none;
	color: #fff;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #3c3b43;
	
	box-shadow: 0px 1px 1px #57565f;
	-webkit-box-shadow: 0px 1px 1px #57565f;
}

input.ui-input-text {
	margin-bottom: 25px;
}

.note-details {
	min-height: 150px;
}

.new-note {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #8b8a91;
	padding: 15px 10px;
	margin: 10px;
	background: #5a5961;	
}

.new-note label {
	color: #d4d3d9;
	text-shadow: 0px 1px 1px #000;
	font-weight: bold;
	display: inline-block;
}

.details:before { 
	content:"";
	background: url("i/notes-icon.png") no-repeat 0 0 transparent;
	height: 30px;
	width: 28px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.note-description {
	margin: 0 15px;
	padding: 10px;
	background: #5a5961; 
	border: 2px solid #8b8a91;
	
	color: #a0a1b2 ;
	min-height: 120px;
	
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.no-content {
	font-size : 20px;
	text-align: center;
}

#geolocation {
	padding: 15px;
	color: #a0a1b2;
}

.contact-form {
	margin: 15px;
	padding: 10px;
	background: #5a5961; 
	border: 2px solid #8b8a91;
	
	color: #a0a1b2 ;
	
	-webkit-border-radius: 6px;
	border-radius: 6px;
}



/*  =Floats
======================================================================= */

.left{
	float: left;
}

.right{
	float: right;
}

.clear {
	clear: both;
}


/*  =Predefined styles
======================================================================= */

.posrel {
	position: relative;
}

.mtop15 { margin-top: 15px; }
.pad10 { padding: 10px 20px; }

h1.header {
	color: #f4f5ff;
}

.main-content {
	color: #a0a1b2;
}
